<?xml version="1.0" encoding="utf-8"?>
<manifest 
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.davespanton.nutbar" 
	android:versionCode="1" 
	android:versionName="0.0.1-SNAPSHOT">
    
  <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="10"></uses-sdk>

  <application 
  		android:icon="@drawable/icon" 
  		android:label="@string/app_name"
  		android:name=".application.NutbarApplication"
  		>
    <activity android:name="activity.NutbarActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <service android:name=".service.GPSListenerService">
      <intent-filter>
      	<action android:name="com.davespanton.nutbar.START_GPS_LISTENER_SERVICE"/>
      </intent-filter>
    </service>
  </application>

</manifest>

