<?xml version="1.0" encoding="utf-8"?>
<manifest 
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.davespanton.nutbar" 
	android:versionCode="1" 
	android:versionName="0.0.1-SNAPSHOT">
    
  <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="10"></uses-sdk>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
  <uses-permission android:name="android.permission.SEND_SMS"></uses-permission>
  <uses-permission android:name="android.permission.INTERNET"></uses-permission>

  <application 
  		android:icon="@drawable/icon" 
  		android:label="@string/app_name">
    <activity
            android:name=".activity.NutbarActivity"
            android:screenOrientation="portrait">
      <intent-filter>	
    	<action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name=".activity.NutbarPreferenceActivity">
      <intent-filter>
    	<action android:name="com.davespanton.nutbar.START_PREFERENCE_ACTIVITY" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>
    <service android:name=".service.AccelerometerListenerService">
      <intent-filter>
    	<action android:name="com.davespanton.nutbar.START_ACC_LISTENER_SERVICE"/>
    	<action android:name="com.davespanton.nutbar.ACC_SERVICE_START_LISTENING"/>
    	<action android:name="com.davespanton.nutbar.ACC_SERVICE_STOP_LISTENING"/>
      </intent-filter>
    </service>
    <service android:name=".service.AlarmService">
      <intent-filter>
    	<action android:name="com.davespanton.nutbar.ALARM_SERVICE_TRIP"/>
        <action android:name="com.davespanton.nutbar.ALARM_SERVICE_RESET"/>
      </intent-filter>
    </service>
    <service android:name=".service.xmpp.XMPPService">
      <intent-filter>
        <action android:name="com.davespanton.nutbar.START_XMPP_SERVICE"/>
        <action android:name="com.davespanton.nutbar.SEND_XMPP"/>
      </intent-filter>
    </service>
  </application>

</manifest>

